<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kalkulator</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Spletni kalkulator</h1>

        <form method="post" action="/">
            <input name="prvo_stevilo">
            <input name="znak">
            <input name="drugo_stevilo">
            <button type="submit">Rezultat</button>
        </form>

    <br>
    <h2>Igra skrito število: <a href="/skritostevilo">Skrito število</a> </h2>

    <h2>Pretvornik enot: <a href="/pretvornik">Pretvornik</a></h2>

</html>