<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skrito število</title>
    <link rel="stylesheet" href="/assets/css/skritostevilo.css">
</head>
<body>

    <h1>Ugani skrito število med 1 in 5:</h1>

        <form method="post" action="/skritostevilo">
            <input name="stevilo">
            <button type="submit">Preveri</button>
        </form>

<hr/>

    <h2>Povezave:</h2>
    <h3>Kalkulator: <a href="/">Kalkulator</a> </h3>


    <h3>Pretvornik enot: <a href="/pretvornik">Pretvornik</a></h3>

</body>
</html>